
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: 600 32px/40px $mainFontFamily; }
h2,
h3 { font: 600 24px/32px $mainFontFamily; }
h4 { font: 600 16px/24px $mainFontFamily; }
// h5 { font: 600 14px/20px $mainFontFamily; }

p { font: normal 14px/20px $mainFontFamily; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:focus { color: $linkColor; }

  svg { transition: fill, stroke .3s ease-out; }
}

hr { background: $mainColor; }

.container { position: relative; width: 100%; margin: 0 auto; padding: 1.75rem 1.25rem; background: transparent; display: grid; grid-gap: 1.75rem 1.25rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content,
  .content-center { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 1.75rem; grid-template-columns: repeat(9, 1fr);
    .content,
    .content-center { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 1.75rem; grid-gap: 1.75rem 3.4375rem; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
    .content-center { grid-column: 3 / 11; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; padding: 1.75rem 6.25rem; }
}

@media screen and (min-width: $desktopWidth) {
  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $DarkGrey; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; }

  h1 { font-size: 64px; line-height: 70px; }
  h2 { font-size: 40px; line-height: 48px; }
  h3 { font-size: 32px; line-height: 40px; }
  h4 { font-size: 20px; line-height: 26px; }
  // h5 { font-size: 16px; line-height: 24px; }

  p { font-size: 16px; line-height: 24px; }

  a {
    &:active,
    &:hover { color: $linkColor_hover; }
  }
}


/* Form styles */
.form {
  &__line { display: flex;
    &:not(:last-child) { margin-bottom: 1.0625rem; }
  }
  &__group { width: 100%; display: flex; flex-direction: column; }

  &__label { margin-bottom: .6875rem; color: $mainColor; font: 600 14px/20px $mainFontFamily; display: flex; }
  &__textarea,
  &__input { width: 100%; border: 3px solid $Yellow; border-radius: 10px; background: $White; color: $mainColor; font: normal 14px/20px $mainFontFamily;
    &::placeholder { color: $DarkGrey_opacity; }
    &:focus { border-color: $Apricot; }
    // &.success { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  &__textarea { min-height: 86px; padding: 1.25rem 1.875rem; resize: none; }
  &__input { height: 64px; padding: 0 1.875rem;

    // Убирает кастомный крестик в браузерах
    &[type=text]::-ms-clear,
    &[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
  }

  &__button { margin-top: 2.5rem; }

  @media screen and (min-width: $desktopWidth) {
    &__line:not(:last-child) { margin-bottom: 1.4375rem; }

    &__label { margin-bottom: .875rem; font-size: 16px; line-height: 24px; }
    &__textarea,
    &__input { font-size: 16px; line-height: 24px; }
    &__textarea { min-height: 6.1875rem; }
    &__input { height: 4.6875rem; }
  }
}

.button {
  a { height: 75px; border: 1px solid $linkColor; border-radius: 2.34375rem; padding: 0 2.625rem; background: $linkColor; color: $White; font: bold 15px/1 $mainFontFamily; letter-spacing: 1.5px; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }

  @media screen and (min-width: $desktopWidth) {
    a:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $linkColor; }
  }
}


/* Layout styles */
header { @include z('header');
  .container { padding: 1.25rem;
    .header { display: flex; align-items: center; justify-content: space-between;
      &-logo a { display: flex;
        img { width: 160px; height: 44px; flex: none; }
      }
      &-menu { display: none; }
      &-menu-bar a { display: flex;
        svg { width: 30px; height: 21px; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      // .header {}
    }
    @media screen and (min-width: $desktopWidth) { padding: 1.75rem;
      .header {
        &-menu { display: flex;
          ul { display: flex; align-items: center; justify-content: space-between;
            li {
              &:not(:last-child) { margin-right: 1.875rem; }
              &.current a { color: $linkColor;
                &::before { @include pseudo; left: -4px; right: -4px; bottom: 3px; width: calc(100% + 8px); height: 2px; border-radius: 1px; background: $linkColor; }
              }

              a { position: relative; color: $mainColor; font-weight: 600; font-size: 16px; line-height: 36px; white-space: nowrap; display: flex;
                &::before { @include pseudo; left: -4px; right: -4px; bottom: 3px; width: calc(100% + 8px); height: 2px; border-radius: 1px; background: transparent; transition: all .3s ease-out; }
                &:active,
                &:hover { color: $linkColor;
                  &::before { background: $linkColor; }
                }
              }
            }
          }
        }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 1.75rem 6.25rem; }
  }
}

main { @include z('main'); }

footer { @include z('footer');
  .container { padding: 2.0625rem 1.25rem 1.5625rem;
    .footer { display: flex; flex-direction: column;
      &__group { display: flex; flex-direction: column; }

      &-menu { margin-bottom: 3rem; display: flex;
        ul { width: 100%; display: flex; flex-direction: column; align-items: center;
          li {
            &:not(:last-child) { margin-bottom: 1.125rem; }

            a { color: $mainColor; font-weight: 600; font-size: 14px; line-height: 20px; text-align: center; white-space: nowrap; display: flex; }
          }
        }
      }
      &-social { display: flex; flex-direction: column; align-items: center;
        &__text p { font-weight: 600; text-align: center; white-space: nowrap; }

        &-list { margin-top: .9375rem; display: flex; align-items: center;
          &__link {
            &:not(:last-child) { margin-right: .5rem; }

            a { width: 3rem; height: 3rem; border-radius: 50%; background: $White; display: flex; justify-content: center; align-items: center;
              svg { flex: none;
                &.instagram { width: 16px; height: 16px; }
                &.vk { width: 18px; height: 10px; }
                &.telegram { width: 16px; height: 14px; }
              }
            }
          }
        }
      }
      &-copyright { margin-top: 3.3125rem;
        p { text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .footer { flex-direction: row-reverse; justify-content: space-between; align-items: center;
        &__group { flex-direction: row-reverse; align-items: center; }

        &-menu { margin: 0 0 0 1.875rem;
          ul li:not(:last-child) { margin: 0 0 1.875rem; display: none; }
        }
        &-social { flex-direction: row;
          &-list { margin: 0 0 0 1rem; }
        }
        &-copyright { margin: 0 1.875rem 0 0;
          p { text-align: left; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: .1875rem 1.75rem 1.9375rem;
      .footer {
        &-menu ul li a { font-size: 16px; line-height: 24px;
          &:active,
          &:hover { color: $linkColor; }
        }
        &-social {
          &-list {
            &__link a:hover { background: $Apricot;
              svg { fill: $White; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: .1875rem 6.25rem 1.9375rem; }
  }
}


/* Animations */
.object { opacity: 0; transform: translateY(15px) /* scale(.95); */; }

@media (prefers-reduced-motion: no-preference) {
  .object { transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out; }
}

.object-animation { opacity: 1; transform: translateY(0px) /* scale(1); */; }


/* Module styles */
@import 'module/banner';
@import 'module/menu';
@import 'module/popup';


/* Page styles */
@import 'page/index';
@import 'page/privacy';
@import 'page/error';
