extends include/main

block variables
  - let title = 'Say Nihao'
  - let description = 'Школа китайского языка'
  - let page = 'error'

block content
  section#error
    .container
      .error.content.object-wrapper
        .error__image.object
          picture
            source(srcset='/image/illustration/error.png 1x, /image/illustration/error@2x.png 2x, /image/illustration/error@3x.png 3x' media='(min-width: 768px)' type='image/png')
            img(src='/image/illustration/error.m.png' srcset='/image/illustration/error.m@2x.png 2x, /image/illustration/error.m@3x.png 3x' loading='eager' alt='illustration')
        .error__main.object
          .error__title
            h1 Ошибка 404
          .error__text
            p
              | Проверьте правильность введенной&nbsp;ссылки.
              br
              a(href='/' title='Вернуться назад') Вернуться назад
