extends include/main

block variables
  - let title = 'Say Nihao'
  - let description = 'Школа китайского языка'
  - let page = 'for_businesses'

block content
  section#index
    .container
      .index.content.object-wrapper
        .index__main.object
          .index__title
            h1
              | Репетитор
              br
              | по 
              span китайскому
              br
              | языку онлайн
          .index__lead
            | Ведите переговоры с иностранными
            br
            | партнерами без переводчика.
          .index__button
            .button
              a(href='#' data-action='open-popup' data-popup='request' title='Записаться') Записаться
              a(href='#' data-action='open-popup' data-popup='request' title='Попробовать бесплатно') Попробовать бесплатно
        .index__image
          picture
            source(srcset='/image/illustration/business.png 1x, /image/illustration/business@2x.png 2x, /image/illustration/business@3x.png 3x' media='(min-width: 1248px)' type='image/png')
            img(src='/image/illustration/business.m.png' srcset='/image/illustration/business.m@2x.png 2x, /image/illustration/business.m@3x.png 3x' loading='eager' alt='illustration')
        .index__other
          img.icons(src='/image/illustration/icons.png' srcset='/image/illustration/icons@2x.png 2x, /image/illustration/icons@3x.png 3x' loading='eager' alt='illustration')
          img.stars_1(src='/image/illustration/stars_1.png' srcset='/image/illustration/stars_1@2x.png 2x, /image/illustration/stars_1@3x.png 3x' loading='eager' alt='illustration')
          img.stars_2(src='/image/illustration/stars_2.png' srcset='/image/illustration/stars_2@2x.png 2x, /image/illustration/stars_2@3x.png 3x' loading='eager' alt='illustration')
  section#steps
    .container
      .steps.content
        .steps__title.object-wrapper
          h2.object
            | Думаешь, что китайский сложный?
            br
            | Я докажу обратное
        ul.steps-list.object-wrapper
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_1.mp4' type='video/mp4')
            .steps-list__title
              h4 Оставить заявку
            .steps-list__text
              p Чтобы записаться на&nbsp;бесплатный пробный урок, необходимо заполнить регистрационную форму на&nbsp;сайте и&nbsp;отправить заявку.
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_2.mp4' type='video/mp4')
            .steps-list__title
              h4 Заказать бесплатный урок
            .steps-list__text
              p После получения заявки я&nbsp;свяжусь с&nbsp;тобой для&nbsp;уточнения деталей. Мы&nbsp;вместе подберем удобную дату и время и&nbsp;назначим пробный урок.
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_3.mp4' type='video/mp4')
            .steps-list__title
              h4 Приступить к занятиям
            .steps-list__text
              p После прохождения пробного урока я&nbsp;отправлю тебе индивидуальный план обучения с пошаговыми инструкциями и&nbsp;рекомендациями.
  section#about
    .container
      .about.content.object-wrapper
        .about__photo
          img(src='/image/photo/liza_1.png' srcset='/image/photo/liza_1@2x.png 2x, /image/photo/liza_1@3x.png 3x' loading='lazy' alt='photo')
        .about__main.object
          .about__name
            h2
              | Елизавета
              br
              | Калигаева
          .about__vocation Твой лучший лаоши
          .about__text
            p Твоя команда будет учить корпоративный китайский онлайн, прокачает письменную и&nbsp;устную речь и&nbsp;пополнит словарный запас технической или деловой лексикой. Расскажи, для чего сотрудникам нужен китайский. Я&nbsp;разработаю индивидуальный план специально для&nbsp;твоей компании.
          .about__autograph
            img(src='/image/autograph.png' srcset='/image/autograph@2x.png 2x, /image/autograph@3x.png 3x' loading='lazy' alt='autograph')
        .about__photo
          img(src='/image/photo/liza_2.png' srcset='/image/photo/liza_2@2x.png 2x, /image/photo/liza_2@3x.png 3x' loading='lazy' alt='photo')
      .readiness.content
        ul.readiness-list.swiper-wrapper
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.education
                use(href='/image/icon/education.svg#education')
            .readiness-list__title
              h4 Учитель по диплому
            .readiness-list__text
              p Окончила Минский Государственный Лингвистический Университет с&nbsp;отличием по&nbsp;специальности «Преподаватель китайского языка».
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.practice
                use(href='/image/icon/practice.svg#practice')
            .readiness-list__title
              h4 Стажировалась в Китае
            .readiness-list__text
              p В 2019 году я улетела в Китай, где прошла языковую стажировку в&nbsp;Китайском Университете Политических Наук и Права.
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.approach
                use(href='/image/icon/approach.svg#approach')
            .readiness-list__title
              h4 Комплексный подход
            .readiness-list__text
              p Комплексный подход и&nbsp;продуманный учебный план позволяет быстро развить навыки устной речи, аудирования, чтения и&nbsp;письма.
        .readiness-prev
          svg
            use(href='/image/icon/arrow.svg#arrow')
        .readiness-next
          svg
            use(href='/image/icon/arrow.svg#arrow')
  section#docs
    .container
      .docs.content
        .docs__title.object-wrapper
          h2.object Дипломы и сертификаты
        ul.docs-list.object-wrapper
          li.docs-list__item.object
            a.docs-list__link(href='/file/Диплом%20МГЛУ%20о%20высшем%20образовании%20с%20отличием.pdf' target='_blank' title='Диплом МГЛУ о высшем образовании с отличием')
              .docs-list__image
                img(src='/image/preview/file_1.png' srcset='/image/preview/file_1@2x.png 2x, /image/preview/file_1@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type pdf
              .docs-list__text
                p Диплом МГЛУ о&nbsp;высшем образовании с&nbsp;отличием
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20о%20прохождении%20языковой%20стажировки.jpeg' target='_blank' title='Сертификат о прохождении языковой стажировки')
              .docs-list__image
                img(src='/image/preview/file_2.png' srcset='/image/preview/file_2@2x.png 2x, /image/preview/file_2@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат о&nbsp;прохождении языковой стажировки
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20Института%20Конфуция%20МГЛУ.jpeg' target='_blank' title='Сертификат Института Конфуция МГЛУ')
              .docs-list__image
                img(src='/image/preview/file_3.png' srcset='/image/preview/file_3@2x.png 2x, /image/preview/file_3@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат Института Конфуция МГЛУ
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20об%20окончании%20курсов%20китайского%20языка.jpeg' target='_blank' title='Сертификат об окончании курсов китайского языка')
              .docs-list__image
                img(src='/image/preview/file_4.png' srcset='/image/preview/file_4@2x.png 2x, /image/preview/file_4@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат об&nbsp;окончании курсов китайского языка
  section#faq
    .container
      .faq.content
        .faq__title.object-wrapper
          h2.object Вопрос/Ответ
        ul.faq-list.object-wrapper
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Как проходит онлайн занятие по китайскому языку?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Все занятия проводятся онлайн в удобный для тебя день и время. Программа обучения будет построена в зависимости от индивидуальных целей: сдача международного экзамена HSK/HSKK, поступление в китайский ВУЗ, деловая коммуникации, свободное общение и т.д. Для меня важен именно твой результат, поэтому на каждом уроке я проверяю степень усвоения пройденного материала. 90% всего занятия проводится только на иностранном языке (начиная с уровня A2). Моя главная цель – научить разговаривать свободно, грамотно и в кратчайшие сроки.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Что такое бесплатный пробный урок?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p На первом пробном уроке мы вместе подберем наиболее подходящую программу обучения, я определю твой уровень знания языка, а также отвечу на все интересующие вопросы о процессе обучения. Кроме того, ты сможешь оценить качество обучения и методику обучения, выразить свои пожелания и рассказать о каких-либо предпочтениях. После прохождения пробного урока я буду знать твои цели и задачи и смогу разработать индивидуальную программу именно для тебя. Длительность пробного урока составляет 40 минут, поэтому важно помнить, о том, что время ограничено.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Какие основные преимущества онлайн-обучения?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Многие убеждены, что онлайн обучение менее эффективно. По правде говоря, раньше я придерживалась такого же мнения. Когда я только начала преподавать онлайн, у меня были сомнения, можно ли добиться таких же высоких результатов, как в аудитории. Сейчас я с точностью могу заявить, что онлайн обучение намного круче, эффективнее, а также экономит твое время. Как видно, преимуществ домашнего обучения более, чем достаточно. Еще один нюанс. Использование современных технологий в значительной мере является показателем профессиональности каждого преподавателя.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Что входит в стоимость занятия?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p В стоимость урока входят:
                p
                  | • индивидуальный план обучения;
                  br
                  | • само занятие;
                  br
                  | • запись урока и все материалы к нему;
                  br
                  | • домашнее задание;
                  br
                  | • личная проверка домашнего задания;
                  br
                  | • фидбек по ошибкам;
          li.faq-list__item.object
            .faq-list__question(area-expanded='true')
              .faq-list__title
                h4 Действительно ли я буду учиться по индивидуальной программе?
              .faq-list__icon
                svg
                  use(href='/image/icon/minus.svg#minus')
            .faq-list__answer
              .faq-list__text
                p Все ученики приходят с разным стартовым уровнем знаний и навыков. Кроме того, у каждого свои цели, интересы и мотивация. Для этого первом бесплатном занятии я определяю твои речевые особенности и текущей уровень владения языком, составляю лингвопортрет. Исходя из этого, я разрабатываю персональный план обучения.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Какие учебные материалы используются на занятиях?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Мы будем заниматься по современным учебникам, разработанных лучшими издательствами Китая. Помимо учебников, мы будем смотреть видео, слушать аудио-материалы, читать аутентичные тексты из газет и журналов.
  section#banner
    .container
      include include/banner
