
/* Pseudo */
@mixin pseudo($content: '', $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

/* Subgrid */
@mixin subgrid($start, $columns) {
  grid-column-start: $start;
  grid-column-end: span $columns;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: inherit;
}

/* Z-index */
$layer: (
  close: 9999,
  popup-module: 9100,
  popup: 9000,
  menu: 5000,
  header: 4000,
  banner: 3000,
  slider-arrow: 2100,
  main: 2000,
  footer: 1000
);

@mixin z($index) {
  @if map-has-key($layer, $index) {
    z-index: map-get($layer, $index);
  } @else {
    @warn "The key #{ $index } is not in the map `$layer`";
  }
}
