
/* Brand colors */
$Apricot                   : #ffc068;
$Pink                      : #ff5081;
$Yellow                    : #ffe3a5;

$Black                     : #000000;
$DarkGrey                  : #05102c;
$LightGrey                 : #fbf6f0;
$White                     : #ffffff;

$DarkGrey_opacity          : rgba(5, 16, 44, .4);

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Montserrat', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1248px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : #05102c;
$mainBackground            : #fbf6f0;
$linkColor                 : $Pink;
$linkColor_hover           : $Yellow;

$successColor              : $Apricot;
$errorColor                : $Pink;

/* Color shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba(5, 16, 44, .66);
$mainBoxShadow             : inset 0 0 0 3px $Yellow, inset 0 0 0 6px $White;
$mainBoxShadow_hover       : inset 0 0 0 3px $Apricot, inset 0 0 0 6px $White;

/* Other */
$overlayBackground         : rgba(0, 0, 0, .4);
