
.banner { position: relative; height: 273px; border-radius: 12px; padding: 3.0625rem 2.1875rem; background: $White; display: flex; flex-direction: column; align-items: center; @include z('banner');
  &__title h2 { text-align: center; }
  &__button { margin-top: 1.5625rem; }
  &__image { position: absolute; left: 0; bottom: 0; flex: none; z-index: -1;
    img { width: 153px; height: 144px; }
  }
}

@media screen and (min-width: $tabletWidth) {
  .banner { padding: 3.0625rem; align-items: flex-start;
    &__title h2 { text-align: left; }
    &__image { left: auto; top: 0; right: 0; bottom: 0;
      img { width: auto; height: 273px; }
    }
  }
}
@media screen and (min-width: $desktopWidth) {
  .banner { height: 371px; border-radius: 24px; padding: 5rem 7.5rem;
    &__button { margin-top: 1.5625rem; }
    &__image img { width: 760px; height: 371px; }
  }
}
