
.menu { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100vw; height: 100vh; background: $White; overflow: auto; display: none; @include z('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &--open { display: block; }

  &__close { position: absolute; top: 30px; right: 24px; flex: none; @include z('close');
    svg { width: 21px; height: 21px; fill: $Apricot; }
  }

  .container { height: 100%; overflow-x: hidden;
    .main { display: flex; flex-direction: column; justify-content: center;
      &-menu { margin-bottom: 2.8125rem; display: flex;
        ul { width: 100%; display: flex; flex-direction: column; align-items: center;
          li {
            &:not(:last-child) { margin-bottom: 1.625rem; }

            a { color: $mainColor; font-weight: 600; line-height: 24px; text-align: center; white-space: nowrap; display: flex; }
          }
        }
      }
      &-social { margin-bottom: 2.125rem; display: flex; flex-direction: column; align-items: center;
        &__text p { font-weight: 600; font-size: 16px; line-height: 24px; text-align: center; white-space: nowrap; }

        &-list { margin-top: .9375rem; display: flex; align-items: center;
          &__link {
            &:not(:last-child) { margin-right: .5rem; }

            a { width: 3rem; height: 3rem; border-radius: 50%; background: $LightGrey; display: flex; justify-content: center; align-items: center;
              svg { flex: none;
                &.instagram { width: 16px; height: 16px; }
                &.vk { width: 18px; height: 10px; }
                &.telegram { width: 16px; height: 14px; }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tabletWidth) {
  .menu {
    &__close { right: 30px;
      svg { width: 29px; height: 29px; }
    }
  }
}
@media screen and (min-width: $desktopWidth) {
  .menu {
    &--open { display: none; }
  }
}
