
.popup { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100vw; height: 100vh; overflow: auto; display: none; @include z('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &--open { display: block; }

  &-overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; min-height: 100vh; background: $overlayBackground; overflow-x: hidden; }

  &__module { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 4.25rem 1.25rem 3.75rem; background: $White; overflow: auto; display: none; flex-direction: column; @include z('popup-module');
    &--open { display: flex; }
  }
  &__close { position: absolute; top: 30px; right: 24px; flex: none; @include z('close');
    svg { width: 21px; height: 21px; fill: $Apricot; }
  }
}

@media screen and (min-width: $tabletWidth) {
  .popup {
    &__module { position: relative; left: 50%; top: 50px; right: auto; bottom: auto; width: 600px; height: auto; border-radius: 12px; padding: 2.25rem 3.75rem 3.75rem; transform: translate(-50%, 0);
      &--center { left: 50%; top: 50%; right: auto; bottom: auto; transform: translate(-50%, -50%);

        /* Добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }
    }
    &__close { right: 30px;
      svg { width: 29px; height: 29px; }
    }
  }
}

@media screen and (min-width: $desktopWidth) {
  .popup {
    &__module { border-radius: 24px; }
    &__close:hover svg { fill: $Pink; }
  }
}


/* Popup styles */
@import 'popup/request';
@import 'popup/thanks';
