.banner.content
  .banner__title
    h2
      | Бесплатный
      br
      | пробный урок
  .banner__button
    .button
      a(href='#' data-action='open-popup' data-popup='request' title='Записаться') Записаться
  .banner__image
    picture
      source(srcset='/image/banner/free_lesson.png 1x, /image/banner/free_lesson@2x.png 2x, /image/banner/free_lesson@3x.png 3x' media='(min-width: 768px)' type='image/png')
      img(src='/image/banner/free_lesson.m.png' srcset='/image/banner/free_lesson.m@2x.png 2x, /image/banner/free_lesson.m@3x.png 3x' loading='eager' alt='illustration')
