-
  let menu = [
    { url: '/', title: 'Для взрослых' },
    { url: '/for_children.html', title: 'Для детей' },
    { url: '/for_businesses.html', title: 'Для компаний' },
    { url: '/privacy.html', title: 'Политика конфиденциальности' }
  ]

footer
  .container
    .footer.content
      .footer__group
        nav.footer-menu
          ul
            each link in menu
              li
                a(href=link.url title=link.title) #{ link.title }
        .footer-social
          .footer-social__text
            p Я в сети:
          ul.footer-social-list
            li.footer-social-list__link
              a(href='//www.instagram.com/saynihao' target='_blank' title='Инстаграм')
                svg.instagram
                  use(href='/image/icon/instagram.svg#instagram')
            li.footer-social-list__link
              a(href='//vk.com/saynihao' target='_blank' title='ВКонтакте')
                svg.vk
                  use(href='/image/icon/vk.svg#vk')
            li.footer-social-list__link
              a(href='tg://resolve?domain=saynihao' title='Телеграм')
                svg.telegram
                  use(href='/image/icon/telegram.svg#telegram')
      .footer-copyright
        p &copy; 2022 Saynihao.ru – китайский просто!
