-
  let menu = [
    { url: '/', title: 'Для взрослых', current: true },
    { url: '/for_children.html', title: 'Для детей' },
    { url: '/for_businesses.html', title: 'Для компаний' }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='/' title='Say Nihao')
          img(src='/image/logo.svg' alt='Say Nihao')
      nav.header-menu
        ul
          each link in menu
            li(class=(link.current === true ? 'current' : undefined))
              a(href=link.url title=link.title) #{ link.title }
          li
            a(href='#' data-action='open-popup' data-popup='request' title='Записаться') Записаться
      .header-menu-bar
        a(href='#' data-action='open-menu' title='Открыть меню')
          svg
            use(href='/image/icon/menu.svg#menu')
