-
  let menu = [
    { url: '/', title: 'Для взрослых' },
    { url: '/for_children.html', title: 'Для детей' },
    { url: '/for_businesses.html', title: 'Компаниям' }
  ]

// Menu
.menu
  a.menu__close(href='#' data-action='close-menu' title='Закрыть меню')
    svg
      use(href='/image/icon/close.svg#close')
  .container
    .main.content
      nav.main-menu
        ul
          each link in menu
            li
              a(href=link.url title=link.title) #{ link.title }
      .main-social
        .main-social__text
          p Я в сети:
        ul.main-social-list
          li.main-social-list__link
            a(href='//www.instagram.com/saynihao' target='_blank' title='Инстаграм')
              svg.instagram
                use(href='/image/icon/instagram.svg#instagram')
          li.main-social-list__link
            a(href='//vk.com/saynihao' target='_blank' title='ВКонтакте')
              svg.vk
                use(href='/image/icon/vk.svg#vk')
          li.main-social-list__link
            a(href='tg://resolve?domain=saynihao' title='Телеграм')
              svg.telegram
                use(href='/image/icon/telegram.svg#telegram')
// Menu end
