// Popup
.popup
  .popup-overlay(data-action='close-popup')
  // Заявка на пробное занятие
  .request.popup__module.popup__module--center
    a.popup__close(href='#' data-action='close-popup' title='Закрыть окно')
      svg
        use(href='/image/icon/close.svg#close')
    .request__title
      h3
        | Заявка на пробное
        br
        | занятие
    form.form.request__form(name='request' action='/' autocomplete='off' accept-charset='utf-8')
      fieldset.form__line
        .form__group
          label.form__label(for='request-name') Имя
          input.form__input#request-name(type='text' name='name' required placeholder='Ваше имя' value='' title='Введите ваше имя')
      fieldset.form__line
        .form__group
          label.form__label(for='request-email') Email
          input.form__input#request-email(type='email' name='email' required placeholder='Ваш email' value='' title='Введите ваш email')
      fieldset.form__line
        .form__group
          label.form__label(for='request-comment') Комментарий
          textarea.form__textarea#request-comment(name='comment' placeholder='Ваше сообщение…' value='' title='Введите ваше сообщение')
      .form__button
        .button
          a(href='#' data-action='send-form' title='Отправить заявку') Отправить заявку
  // Спасибо
  .thanks.popup__module.popup__module--center
    a.popup__close(href='#' data-action='close-popup' title='Закрыть окно')
      svg
        use(href='/image/icon/close.svg#close')
    .thanks__title
      h3 Спасибо!
    .thanks__text
      p
        | Ваша заявка принята.
        br
        | Я скоро свяжусь с вами.
// Popup end
