
/* Error page */
#error {
  .container { padding-top: 0;
    .error {
      &__image { margin: 0 -1.25rem; display: flex; justify-content: center;
        img { width: 100%; max-width: 320px; flex: none; }
      }
      &__main { margin-top: 1.125rem; }
      &__title { margin-bottom: .8125rem;
        h1 { font-size: 24px; line-height: 32px; text-align: center; }
      }
      &__text p { font-size: 16px; line-height: 24px; text-align: center;
        a { text-decoration: underline; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .error { margin-bottom: 2.25rem;
        &__image { margin: 0;
          img { width: 579px; height: 470px; max-width: 100%; }
        }
        &__main { margin-top: 2.375rem; display: flex; flex-direction: column; align-items: center; }
        &__title { margin-bottom: 1rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .error {
        &__title h1 { font-size: 40px; line-height: 58px; }
        &__text p a:hover { color: $linkColor; text-decoration: none; }
      }
    }
  }
}
