
/* Index page */
#index {
  .container {
    .index { display: flex; flex-direction: column;
      &__title { margin: .5625rem 0 .75rem;
        h1 span { position: relative;
          &::before { @include pseudo; left: -4px; right: -4px; bottom: 5px; width: calc(100% + 8px); height: 8px; border-radius: 4px; background: $Yellow; z-index: -1; }
        }
      }
      &__lead { line-height: 24px; }
      &__button { margin-top: 2.125rem;
        .button a:last-child { display: none; }
      }
      &__image { margin: 1.3125rem -1.25rem 0;
        img { width: 100%; }
      }
      &__other { display: none; }
    }

    @media screen and (min-width: $tabletWidth) {
      .index { margin-bottom: .9rem; flex-direction: row; justify-content: space-between;
        &__main { width: calc((100% - 1.75rem) / 2); }
        &__image { width: calc((100% - 1.75rem) / 2); margin: -2.5875rem 0 0 1.75rem; display: flex; justify-content: center;
          img { flex: none; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .index {
        &__main { width: auto; margin: 0 auto; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index { position: relative;
        &__main { width: calc((100% - 3.4375rem) / 2); margin: 0; }
        &__title { margin: 5.875rem 0 .9375rem;
          h1 span::before { left: -6px; right: -6px; bottom: 7px; width: calc(100% + 12px); height: 12px; border-radius: 6px; }
        }
        &__lead { font-size: 24px; line-height: 36px; }
        &__button { margin-top: 2.625rem;
          .button a {
            &:first-child { display: none; }
            &:last-child { display: inline-flex; }
          }
        }
        &__image { width: calc((100% - 3.4375rem) / 2); margin-left: 3.4375rem; justify-content: flex-end;
          img { width: 559px; height: 707px; }
        }
        &__other { display: block;
          img { position: absolute;
            &.icons { top: 453px; right: 85.7px; width: 338px; height: 120px; }
            &.stars_1 { top: 38px; right: -38.3px; width: 693px; height: 504px; }
            &.stars_2 { top: 139px; right: -51.3px; width: 641px; height: 193px; }
          }
        }
      }
    }
  }
}

#steps {
  .container {
    .steps { margin-bottom: 1.4375rem;
      &__title { margin-bottom: 2.0625rem;
        h2 { text-align: center; }
      }

      &-list { display: flex; flex-direction: column;
        &__item:not(:last-child) { margin-bottom: 2.1875rem; }
        &__video { border-radius: 24px; margin-bottom: 1.3125rem; background: $White; display: flex;
          video { width: 100%; flex: none; }
        }
        &__title { margin-bottom: .6875rem;
          h4 { text-align: center; }
        }
        &__text p { text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .steps { margin-bottom: 4.875rem;
        &-list { flex-direction: row;
          &__item { width: calc((100% - 3.5rem) / 3);
            &:not(:last-child) { margin: 0 1.75rem 0 0; }
          }
          &__title { min-height: 48px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .steps {
        &-list {
          &__title { min-height: auto; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .steps {
        &__title { margin-bottom: 3.75rem; }

        &-list {
          &__item { width: calc((100% - 6.875rem) / 3);
            &:not(:last-child) { margin: 0 3.4375rem 0 0; }
          }
          &__video { margin-bottom: 1.9375rem; }
          &__title { margin-bottom: .9375rem; }
        }
      }
    }
  }
}

#about {
  .container {
    .about { margin-bottom: 3.75rem; display: flex; flex-direction: column-reverse;
      &__photo { align-self: flex-start; flex: none;
        &:last-child { display: none; }

        img { width: 100%; }
      }
      &__main { margin-bottom: 1.875rem; }
      &__name { margin-bottom: .875rem; text-align: center; }
      &__vocation { margin-bottom: 1.0625rem; color: $Pink; font-weight: 600; line-height: 24px; text-align: center; }
      &__text { margin-bottom: .8125rem;
        p { text-align: center; }
      }
      &__autograph { display: flex; justify-content: center;
        img { width: 132px; height: 72px; flex: none; }
      }
    }
    .readiness { position: relative; margin-bottom: 1.0625rem; overflow: visible;
      &-list { display: flex;
        // Устраняет ошибку слайдера в Mozilla Firefox
        &.swiper-wrapper { width: calc(100vw - 2.5rem); height: auto; align-items: stretch; }

        &__item { display: flex; flex-direction: column; align-items: center; }
        &__icon { width: 140px; height: 140px; border-radius: 50%; margin-bottom: 1.3125rem; background: $Yellow; display: flex; justify-content: center; align-items: center; flex: none;
          svg {
            &.education { width: 72px; height: 51px; }
            &.practice { width: 72px; height: 72px; }
            &.approach { width: 72px; height: 58px; }
          }
        }
        &__title { margin-bottom: 1.0625rem;
          h4 { text-align: center; }
        }
        &__text p { text-align: center; }
      }

      // Стилизует стрелки слайдера
      &-prev,
      &-next { position: absolute; top: 10px; width: 120px; height: 120px; border-radius: 50%; background: $Yellow; display: flex; justify-content: center; align-items: center; @include z('slider-arrow');
        &.swiper-button-disabled svg { stroke: $DarkGrey_opacity; }

        svg { width: 14px; height: 24px; stroke: $Pink; }
      }
      &-prev { left: -50px; }
      &-next { right: -50px;
        svg { transform: rotate(180deg); }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .about { margin-bottom: 5rem; flex-direction: row;
        &__photo { width: calc((100% - 3.5rem) / 3);
          &:last-child { margin-left: 1.75rem; display: flex; }
        }
        &__main { width: calc((100% - 3.5rem) / 3); margin: 0 0 0 1.75rem; }
      }
      .readiness { margin-bottom: 2.375rem;
        &-list {
          &.swiper-wrapper { width: calc(768px - 2.5rem); }

          &__item { width: calc((100% - 3.5rem) / 3);
            &:not(:last-child) { margin-right: 1.75rem; }
          }
        }

        &-prev,
        &-next { display: none; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .readiness {
        &-list {
          &.swiper-wrapper { width: calc(992px - 2.5rem); }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .about { margin-bottom: 7rem;
        &__photo { width: calc((100% - 6.875rem) / 3);
          &:last-child { margin-left: 3.4375rem }

          img { width: 377px; height: 450px; }
        }
        &__main { width: calc((100% - 6.875rem) / 3); margin-left: 3.4375rem; }
        &__name { margin: 2.75rem 0 .625rem; }
        &__vocation { margin-bottom: .875rem; line-height: 26px; }
      }
      .readiness {
        &-list {
          &.swiper-wrapper { width: calc(1248px - 3.5rem); }

          &__item { width: calc((100% - 14.375rem) / 3);
            &:not(:last-child) { margin-right: 7.1875rem; }
          }
          &__icon { margin-bottom: 1.9375rem; }
          &__title { margin-bottom: .9375rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .readiness {
        &-list {
          &.swiper-wrapper { width: calc(1440px - 12.5rem); }
        }
      }
    }
  }
}

#docs {
  .container {
    .docs { margin-bottom: 1.4375rem;
      &__title { margin-bottom: 1.9375rem;
        h2 { text-align: center; }
      }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - 1.25rem) / 2);
          &:nth-child(even) { margin-left: 1.25rem; }
          &:nth-child(n+3) { margin-top: 1.5625rem; }
        }
        &__link { position: relative; display: flex; flex-direction: column; }
        &__image { border-radius: 12px; box-shadow: $mainBoxShadow; display: flex;
          img { width: 100%; flex: none; z-index: -1; }
        }
        &__type { position: absolute; top: 16px; right: 16px; width: 40px; height: 24px; border-radius: 2px; background: $Pink; color: $White; font-weight: bold; font-size: 10px; line-height: 24px; letter-spacing: 1px; text-align: center; text-transform: uppercase; }
        &__text { margin-top: .8125rem; color: $mainColor; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .docs { margin-bottom: 3.875rem;
        &-list {
          &__item { width: calc((100% - 5.25rem) / 4);
            &:nth-child(even) { margin-left: 0; }
            &:nth-child(n+3) { margin-top: 0; }
            &:not(:last-child) { margin-right: 1.75rem; }
          }
          &__text p { text-align: center; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .docs {
        &__title { margin-bottom: 3.75rem; }

        &-list { flex-wrap: nowrap;
          &__item { width: calc((100% - 10.3125rem) / 4);
            &:not(:last-child) { margin-right: 3.4375rem; }
          }
          &__link:hover {
            .docs-list__image { box-shadow: $mainBoxShadow_hover; }
            .docs-list__text p { color: $linkColor; }
          }
          &__image { border-radius: 24px; transition: all .3s ease-out; }
          &__text { margin-top: 1.4375rem; transition: all .3s ease-out; }
        }
      }
    }
  }
}

#faq {
  .container {
    .faq { margin-bottom: 2.125rem;
      &__title { margin-bottom: 1.5rem;
        h2 { text-align: center; }
      }

      &-list {
        &__item:not(:last-child) { margin-bottom: 1.5625rem; }
        &__question { display: flex; justify-content: space-between; cursor: pointer;
          &[area-expanded=true] + .faq-list__answer { display: block; }
        }
        &__icon { margin-left: 1rem; flex: none;
          svg { width: 31px; height: 31px; }
        }
        &__answer { margin-top: 1.0625rem; display: none; }
        &__text p {
          &:not(:first-child) { margin-top: 1.125rem; }

          a { text-decoration: underline; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .faq { margin-bottom: 4.375rem;
        &-list {
          &__icon { margin-left: 4.375rem; }
          &__answer { margin: 1.0625rem 6.3125rem 0 0; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .faq {
        &__title { margin-bottom: 2.875rem; }

        &-list {
          &__item:not(:last-child) { margin-bottom: 2.6875rem; }
          &__title { margin-top: .3125rem; }
          &__icon { margin-left: 8.75rem;
            svg { width: 39px; height: 39px; }
          }
          &__answer { margin: 1.5625rem 11.1875rem 0 0; }
          &__text p {
            &:not(:first-child) { margin-top: .9375rem; }

            a {
              &:active,
              &:hover { color: $linkColor; text-decoration: none; }
            }
          }
        }
      }
    }
  }
}
