
/* Privacy page */
#privacy {
  .container {
    .privacy { margin-bottom: 2.1875rem;
      &__title { margin: .3125rem 0 1.75rem;
        h1 { font-size: 24px; line-height: 32px; text-align: center; }
      }
      &__text p {
        &:not(:first-child) { margin-top: 1.125rem; }

        a { text-decoration: underline; }
      }
      &__subtitle { margin: 1.625rem 0 1.6875rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .privacy { margin-bottom: 1.125rem; }
    }
    @media screen and (min-width: $desktopWidth) {
      .privacy {
        &__title { margin: 3.5rem 0 2.5625rem;
          h1 { font-size: 40px; line-height: 48px; }
        }
        &__text p {
          &:not(:first-child) { margin-top: .9375rem; }

          a {
            &:active,
            &:hover { color: $linkColor; text-decoration: none; }
          }
        }
        &__subtitle { margin: 1.5625rem 0; }
      }
    }
  }
}
